.divComoTrabajo {
    /* Estilos para el contenedor principal */
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:350px;
    justify-content: space-evenly;
   
    color: #1d1d1d;
    
   

  }
  
  .h2ComoTrabajo {
    /* Estilos para los títulos h2 */
    align-items: center;
   
    font-size: 23px;
  }
  
  .divComoTrabajoHijo {
    /* Estilos para el contenedor de los elementos secundarios */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .divComoTrabajon_hijomenor {
    /* Estilos para los contenedores secundarios individuales */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
  }
  
  .imgComoTrabajo {
    /* Estilos para las imágenes */
  }
  
  .pComoTrabajo {
    /* Estilos para los párrafos */
  text-align: center;
    width: 270px;

    
    
  }
  



  
@media only screen and (max-width: 768px) {
  .divComoTrabajo {
    /* Estilos para el contenedor principal */
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    justify-content: space-evenly;
    padding-top: 50px;
  
    color: #1d1d1d;
    margin-bottom: 120px;

  }
 
  .divComoTrabajoHijo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin: 50px;
    
  }
 
  

}


@media only screen and (min-width: 769px) and (max-width: 991px) {
  
  .divComoTrabajo {
    /* Estilos para el contenedor principal */
    display: flex;
    flex-direction: column;
    align-items: center;
    height:900px;
    justify-content: space-evenly;
   
    color: #1d1d1d;
  

  }
  .divComoTrabajoHijo {
    /* Estilos para el contenedor de los elementos secundarios */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
  
 
  
}



