
.containerCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-evenly;
    
}


.carritoCardContainer{
    display: flex;
    background: rgba(255, 246, 246, 0.58);
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
    width: 900px;
    padding-bottom: 100px;
    justify-content: space-around;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: nowrap;
   
}

.imageCart{
height: 70px;
width: 70px;
border-radius: 50%;
border: 2px solid black;
}
.card{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #3a3938;
    height: 150px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 2px 0px 12px 1px #373737;
    padding-left: 30px;
}
.textoCart{
    display: flex;
   color: aliceblue;
    width: 550px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.divLink{
    display: flex;
    flex-direction: column;
}
.parrafoTotal{
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.divContainerTotalLinks{
    display: flex;
    height: 400px;
    width: 400px;
   
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}





@media only screen and (max-width: 768px) {

 
    .containerCart {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        display: flex;
    }
    .carritoCardContainer {
        width: 100%; /* Ajusta el ancho al 100% */
        padding: 20px; /* Reduce el relleno para evitar el desbordamiento */
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0; /* Elimina el margen superior */
        margin-bottom: 0; /* Elimina el margen inferior */
        margin-top: 100px;
        height: 100vh;
    }
    .card {
        width: 80%;
        display: flex;
        height: 220px;
        flex-direction: column;
        padding: 10px;/* Ajusta el ancho al 100% */
    }
    .textoCart {
        display: flex;
        color: aliceblue;
        width: 550px;
        height: 140px;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        flex-direction: column; /* Permite que el texto se ajuste automáticamente */
    }
    .divContainerTotalLinks {
        height: auto; /* Permite que la altura sea automática */
        width: auto; /* Permite que el ancho sea automático */
    }
    .divLink {
        margin-bottom: 20px; /* Añade un margen inferior para separar los enlaces */
    }
    .parrafoTotal {
        font-size: 20px; /* Reduzca el tamaño de la fuente para adaptarse mejor a dispositivos móviles */
    }
   
    
  
  }
  
  
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    
    
    .containerCart {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        display: flex;
    }
    .carritoCardContainer {
        width: 100%; /* Ajusta el ancho al 100% */
        padding: 20px; /* Reduce el relleno para evitar el desbordamiento */
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0; /* Elimina el margen superior */
        margin-bottom: 0; /* Elimina el margen inferior */
        margin-top: 100px;
        height: 100vh;
    }
    .card {
        width: 80%;
        display: flex;
        height: 220px;
        flex-direction: column;
        padding: 10px;/* Ajusta el ancho al 100% */
    }
    .textoCart {
        display: flex;
        color: aliceblue;
        width: 550px;
        height: 140px;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        flex-direction: column; /* Permite que el texto se ajuste automáticamente */
    }
    .divContainerTotalLinks {
        height: auto; /* Permite que la altura sea automática */
        width: auto; /* Permite que el ancho sea automático */
    }
    .divLink {
        margin-bottom: 20px; /* Añade un margen inferior para separar los enlaces */
    }
    .parrafoTotal {
        font-size: 20px; /* Reduzca el tamaño de la fuente para adaptarse mejor a dispositivos móviles */
    }
   
   
  }
  
  
  
  
  @media only screen and (min-width: 991px) and (max-width: 1300px) {
   
    
    
  
    
  }
  



















