.divNosotros{
    display: flex;
    height: 100vh;
    background-color: #ffffffc7;
    align-items: center;
}
.pNosotros{
padding: 30px;
text-align: justify;
font-size: 17px;
color: black;
}
.divh2Nosotros{
margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.h2Nosotros {
    padding-left: 30px;
    text-align: justify;
    font-size: 20px;
    color: black;
    
  }
  
.imgNosotros {
    
  }
  



  


@media only screen and (max-width: 768px) {

  .divNosotros{
    display: flex;
    background-color: #ffffffc7;
    align-items: center;
    flex-direction: column;
    height: 880px;
}
 
  
.pNosotros{
  padding: 30px;
  text-align: center;
  font-size: 17px;
  color: black;
  }

}


@media only screen and (min-width: 769px) and (max-width: 991px) {
  
  

 
 
}




@media only screen and (min-width: 991px) and (max-width: 1300px) {
 
  
  

  
}




















