.cardsContainer {
    display: flex;
    justify-content: center;
   
   
}



.gridContainer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide en tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
}

.cardsContainerPadreMayor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(255 255 255 / 78%) 42%; /* Utiliza un color más similar con una opacidad del 70% */

}
