



.cardsContainerPadreMayor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
   
    border-top: 3px solid #0082be;
    
    
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide en cuatro columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin: 50px;
    max-height: 1000px; /* Altura máxima a la que se mostrará el contenido */
    overflow: auto; /* Hace que el contenido desborde sea visible con scroll */
    background-color: #c6c6c68d;
    border-radius: 10px;

  }



.ContainerFilterCards{
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: transparent;
  filter: brightness(80%);
    height: 1000px;
    align-items: center;
    margin-bottom: 50px;
  margin-top: 50px;
  color: black;
    

}
.noProducts{
    color: black;
    width: 600px;
    text-align: center;
}

@media only screen and (max-width: 768px) {

 
    
   
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Divide en cuatro columnas de igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin: 50px;
   
   /* Altura máxima a la que se mostrará el contenido */
   /* Hace que el contenido desborde sea visible con scroll */
  }


  .cardsContainerPadreMayor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.267) 42%;
    border-top: 3px solid #0082be;
    
}
.ContainerFilterCards{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 300px;
    
   
    

}
.ContainerFilterCards{
  display: flex;
  background-size: cover;
  background-position: center;
  background-color: transparent;
filter: brightness(80%);
  height: 300px;
  align-items: center;
  margin-bottom: 50px;
margin-top: 50px;
color: black;
  

} 
   
    
  
  }
  
  
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    
    
    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Divide en cuatro columnas de igual ancho */
        gap: 20px; /* Espacio entre las tarjetas */
        justify-content: center;
        margin: 50px;
       
        max-height: 1000px; /* Altura máxima a la que se mostrará el contenido */
        overflow: auto; /* Hace que el contenido desborde sea visible con scroll */
      }
    
  }
  
  
  
  
  @media only screen and (min-width: 991px) and (max-width: 1300px) {
   
    
    
    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Divide en cuatro columnas de igual ancho */
        gap: 20px; /* Espacio entre las tarjetas */
        justify-content: center;
        margin: 50px;
       
        max-height: 1000px; /* Altura máxima a la que se mostrará el contenido */
        overflow: auto; /* Hace que el contenido desborde sea visible con scroll */
      }
    
  }
  
  