/* Estilos específicos para el filtro */
.filtercontainer {
    display: flex;
    height: 46px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  /* Estilos para los botones y el select */
  .buttonSelect,
  .buttonResete {
    cursor: pointer;
    padding: 3px;
    border-radius: 0.375rem;
    background-color: transparent;
    color: #fff; /* Cambiamos el color del texto */
    border: 1px solid #fff; /* Añadimos un borde blanco */
  }
  
  .buttonResete:hover {
    color: rgb(172, 36, 36);
  }
  
  .options {
    background-color: rgb(46, 45, 45);
    border: none;
    color: #959596;
    cursor: pointer;
  }
  
  /* Estilos para el ícono de categoría */
  .filtercontainer svg {
    fill: #fff; /* Cambiamos el color del ícono */
  }
  
  /* Estilos para el input de búsqueda */
  .input {
    padding: 6px;
    border-radius: 0.375rem;
    border: 1px solid #fff; /* Añadimos un borde blanco */
    background-color: transparent;
    color: #fff; /* Cambiamos el color del texto */
  }
  @media only screen and (max-width: 768px) {
    .containerNavBar {
        display: flex;
        height: 46px;
        background-color: transparent;
        padding: 10px;
        border-radius: 5px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    
    }
    }