.containerHeader {
  background-color: rgb(255, 255, 255)  ;
  height: auto; /* Ajusta la altura automáticamente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px; /* Añade un poco de padding para evitar que los elementos toquen los bordes */
}

.containerCardsHome {
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255)  ;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .containerHeader {
  background-color: rgb(255, 255, 255)  ;
      height: auto; /* Ajusta la altura automáticamente */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 20px; /* Añade un poco de padding para evitar que los elementos toquen los bordes */
  }

  .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /* Espacio entre los componentes */
      width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .containerHeader {
    background-image: linear-gradient(rgba(238, 238, 238, 0.73), rgba(221, 221, 221, 0.714));
      height: auto; /* Ajusta la altura automáticamente */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 20px; /* Añade un poco de padding para evitar que los elementos toquen los bordes */
  }

  .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /* Espacio entre los componentes */
      width: 100%;
  }
}
