.containerHeader{
    background:
    linear-gradient(
      180deg,
      rgba(243, 244, 246, 1) 0%,
      rgba(243, 244, 246, 0) 100%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}