
.headerContainerimgbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-image: url('../../img/limpieza2.png');
  filter: brightness(80%); /* Ajusta el brillo según sea necesario */
}

.buttonCustom {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  display: inline-block;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 8px; /* Cambia este valor para ajustar el borde curvo */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.buttonCustom:hover {
  background-color: #0082be;
  color: white;
 
}
  

/* En dispositivos con un ancho de pantalla menor o igual a 640px (celulares), ajusta la altura del encabezado */
@media (max-width: 640px) {
  .hero {
    min-height: calc(100vh + 100px); /* Puedes ajustar el valor según sea necesario */
  }
  
  .text-4xl {
    font-size: 3rem; /* Ajusta el tamaño del texto */
  }
}